@model Reporting.DomainModels.ViewModels.ChangePassViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<h1>Change Password</h1>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{


            <header style="text-align:center"></header>

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(temp => temp.Username)
                    @Html.TextBoxFor(temp => temp.Username, new { placeholder = Model.Username, value= Model.Username, @class = "form-control", disabled = "disabled" })
                    <input type="hidden" name="Username" value="@Model.Username" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(temp => temp.OldPassword)
                    @Html.PasswordFor(temp => temp.OldPassword, new { placeholder = "Old Password", @class = "form-control" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(temp => temp.NewPassword)
                    @Html.PasswordFor(temp => temp.NewPassword, new { placeholder = "New Password", @class = "form-control" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(temp => temp.ConfirmPassword)
                    @Html.PasswordFor(temp => temp.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
                </div>
            </div>


        <br/>
    
        <button class="btn btn-primary" id="Change">Change</button>
        <button class="btn btn-secondary" id="Cancel">Cancel</button>
        <br/>
        <div> @Html.ValidationSummary() </div>   
        
 }
