@model Reporting.DomainModels.FinalComment


@using (Html.BeginForm("AddFinalComment", "Issue", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="card">
        <div class="form-row card-header">
            <div class="form-group ">
                <table>
                    <tr>
                        <td class="col-md-6">
                            @Html.LabelFor(temp => temp.Projects)
                            @Html.DropDownListFor(temp => temp.ProjectID, new SelectList(ViewBag.Projects, "ProjectID", "ProjectName"), "Please Select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(temp => temp.ProjectID)
                        </td>
                        <td class="col-md-6">
                            @Html.TextBoxFor(temp => temp.Screen, new { placeholder = "Screen Name", @class = "form-control" })
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="card-body">
            @Html.TextAreaFor(temp => temp.Description, new { placeholder = "Description", @class = "form-control" })

            <div class="row">
                @Html.HiddenFor(temp => temp.DateOfFinalComment, new { Value = @ViewBag.Date })
                @Html.HiddenFor(temp => temp.UserID, new { Value = @ViewBag.UserID })
                <button type="submit" class="btn btn-light">Add Task</button>
            </div>
        </div>
    </div>
}


