@model Reporting.DomainModels.Project
@using ReportingAssistant.HtmlHelpers

@{
    ViewBag.Title = "Details";
}

<h2>Project Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailabilityStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailabilityStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img src="data:image;base64,@Model.Photo" style="width:150px; height:150px;" id="Photo" name="Photo" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
